label, input{
    display: block;
    width: 100%;
    margin: 5px 0px;
}
input{
    height: 25px;
    border-radius: 10px;
    box-shadow: 3px 4px 2px 2px rgb(79, 66, 66);
}
button{
    background: linear-gradient(to right, rgb(149, 138, 138), rgb(166, 189, 211));
    color: white;
    font-size: large;
    padding: 8px;
    box-shadow: 3px 4px 2px 2px rgb(79, 66, 66);
    border-radius: 20px;
    cursor: pointer;
}
.error-red{
    color: red;
}